{% load static %}

    <!-- Start: Header Section
==================================================-->
    <div class="navigation navigation_two">
      <div class="container">
        <div class="logo">
          <a href="{% url 'index' %}">
            <img class="img-responsive" src="{{settings.logo_site.url}}" width="70" alt="">       
          </a>
        </div>
        <div id="navigation" class="menu-wrap">
          <ul>
            <li>
              <a href="{% url 'index' %}">Главная страница</a>
            </li>
            <li>
              <a href="{% url 'about' %}">О нас</a>
            </li>
            <li>
              <a href="teachers.html">Наши учителя</a>
            </li>
            <li>
              <a href="index.html">скоро</a>
            </li>
            <li>
              <a href="{% url 'courses' %}">Наши курсы</a>
            </li>
            <li>
              <a href="blog.html">Blog</a>
            </li>
            <li>
              <a href="{% url 'contacts' %}">Связаться с нами</a>
            </li>
          </ul>
        </div>
        <!-- End: Menu  -->
        <div class="header_sign">
          <a href="#" class="more-link"> Sign in</a>
        </div>
      </div>
      <!--/ container -->
    </div>
    <!-- End: header navigation -->